.background {
    background-color: #303535;
}

header img {
    max-height:168px;
}
header {
    text-align: center;
    padding: 2em;
    width: 100%;
}

header nav {
    box-shadow: none;
    margin-top: 10px;
    width: 100%;
}
header nav ul li {
    float: none;
    display: inline-flex;
}

header nav ul li a {
    color: #fff;
    letter-spacing: -1px;
    text-decoration: none;
    font-weight: 300;
    font-size: 2.7em;
    margin: 0 25px;
}

.card-image-lastfm {
    padding-top: 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.card-image-repo {
    padding-top: 5px;
    width: 10%;
}

header p {
    font-style: italic;
}

header h1 {
    color: white;
    margin: 5px;
    font-size: 2.5em;
}

.section-title {
    position: relative;
    margin-bottom: 1em;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
}

.section-title:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-bottom: 4px solid #dddddd
}

.free-text {
    line-height: 1.25
}

.section-title span {
    position: relative;
    display: inline-block;
    padding-right: 1.4em;
    background: #303535;
}

.card-loader {
    padding: 5px;
}

.section-title i {
    padding: 8px;
    border-radius: 100%;
    color: #dddddd;
    border: 4px solid #dddddd;
    margin-right: 16px;
    font-size: 24px;
}

span.last-fm-card-content p {
    font-size: 0.8em
}

div.repo-list .card-content p {
    border-radius: 8px;
}

body {
    color: white;
}
nav div.linus-nav{
    padding-left: 10px;
    padding-right: 10px;
}